<header>
  <nav class="nav">
    <div class="logo-company-name">
      <img src="/images/bicycle.png" class="logo">
      <!--how to link an icon?-->
      <a class="navbar-brand" href="/">Wheelies</a>
    </div>

    <!-- <div class="collapse navbar-collapse" id="navbarNavAltMarkup">might not need this div -->
    <div class="search">
      <input type="text" name="search-box" class="search-box" placeholder="Find a bike">
      <!-- <textarea name="search-box" class="search-box" placeholder="Find a bike"></textarea> -->
      <button type="button" class="btn btn-info search-button">Search</button>
      <!--or a clickable icon of a magnifying glass-->
    </div>

    <!-- </div> -->
    <!--if user is logged in show "logged in as username" and the collapsable button-->
    <!-- <form class="form-inline"> -->
    <!--collapsable button-->
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Username
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Favorites</a>
        <a class="dropdown-item" href="#">Messages</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Logout</a>
      </div>
    </div>
    <!-- </form> -->
    <!--else if user isn't logged in show a login button and register button (non-functioning?)-->

    <!-- <form class="form-inline" class="align-middle" style="margin: 1em">
          <button type="submit" class="btn btn-dark">Login</button>
        </form>
        <form class="form-inline" class="align-middle">
          <button type="submit" class="btn btn-dark">Register</button>
        </form> -->

  </nav>
</header>
