<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <!--css stylesheets-->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/banner.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/product-feature.css" type="text/css" />
  <link rel="stylesheet" href="/styles/admin_products.css" type="text/css" />



  <!--JS-->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/admin.js"></script>
  <title>Document</title>
</head>

<body>
  <%- include('partials/_nav') %>
    <!-- <main class="product-page-main"> -->
    <!--add a route to the add products page-->
    <div class="my-products-header">
      <h1>My Products</h1>
      <button type="button" class="btn btn-primary add-product-button">Add product</button>
    </div>
    <div class="admin-products-container">
      <!--My products (need way to add multiple of this)-->
      <div class="product-feature" id="1">
        <!--can I use the same class and css as the one in homepage?-->
        <img src="/images/bike-photo1.png" class="admin-product-photo">
        <div class="product-header-description">
          <!--this div will be a column-->
          <header class="product-header">
            <h3>Product name</h3>
            <h3>$100</h3>
          </header>
          <div>
            <p>Product description</p>
          </div>
        </div>
        <div class="edit-product">
          <!--these buttons will be a column)-->
          <button type="button" class="btn btn-warning sold-button">Mark as sold</button>
          <button type="button" class="btn btn-danger remove-button">Remove</button>
        </div>
      </div>
      <div class="product-feature" id="2">
        <!--can I use the same class and css as the one in homepage?-->
        <img src="/images/bike-photo1.png" class="admin-product-photo">
        <div class="product-header-description">
          <!--this div will be a column-->
          <header class="product-header">
            <h3>Product name</h3>
            <h3>$101</h3>
          </header>
          <div>
            <p>Product description</p>
          </div>
        </div>
        <div class="edit-product">
          <!--these buttons will be a column)-->
          <button type="button" class="btn btn-warning sold-button">Mark as sold</button>
          <button type="button" class="btn btn-danger remove-button">Remove</button>
        </div>
      </div>
    </div>
    <!-- </main> -->
    <!-- Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
</body>

</html>
