<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <!--css stylesheets-->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/banner.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/product-feature.css" type="text/css" />
  <link rel="stylesheet" href="/styles/product-page.css" type="text/css" />


  <!--JS-->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <title>Document</title>
</head>

<body>
  <%- include('partials/_nav') %>
  <!--container for both product-info and contact-seller -->
    <div class="product-page"><!--row-->
      <!--product info-->
      <div class="product-info"><!--column-->
        <div class="product-name-favorite-button"><!--row-->
          <h1>Product name</h1>
          <button type="button" class="btn btn-success fav-button" action="/favorites/:id" method="POST">Favorite</button>
        </div>
        <img src="/images/bike-photo1.png" class="product-page-photo">
        <div class="product-description">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu tincidunt enim, nec congue turpis. Etiam eu volutpat massa. Vivamus accumsan urna tellus.</p>
        </div>
      </div>
      <!--contact seller-->
      <div class="contact-seller">
        <h3>Contact seller name</h3>
        <form class="contact-seller-form" action="/messages/:id" method="POST">
          <textarea placeholder="Please type your message to the seller" class="send-box"></textarea>
          <button type="button" class="btn btn-primary send-button">Send</button>
        </form>
      </div>
    </div>
    <!-- Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
</body>

</html>
