#banner {
  height: 450px;
  width: 100%;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  background-color: #ffcc00;
  background-image: url(https://images.unsplash.com/photo-1563990308267-cd6d3cc09318?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  background-position: 95%;

}
