.product-container {
  display:flex;
  flex-direction: column;
  margin:1em;
}

.product-feature {
  background-color: beige;
  display:flex;
  flex-direction: row;
  width:100%;
  margin-bottom: 1em;
  border: solid;
  box-shadow: 5px 5px #afaaaa;
  border-color: black;
}

.product-feature-photo {
  width:30%;
}

.product-header {
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.product-header-description {
  display:flex;
  flex-direction: column;
  width:100%;
  padding:1em;
}

